@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

body {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5195A8), color-stop(100, #70EAFF));
    background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
    font-family: 'Roboto Condensed', sans-serif;
    color: #262626;
    margin: 2% 0;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.d-flex {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

.form {
    flex: 4;
}

.Yorder {
    flex: 2;
}

.title {
    background: #0B86A8;;
    border-radius: 5px 5px 0 0;
    padding: 20px;
    color: #f6f6f6;
}

h2 {
    margin: 0;
    padding-left: 15px;
}

.required {
    color: red;
}

label,
table{
    display: block;
    margin: 15px;
}

div>label{
    display: inline;
}

label>span {
    float: left;
    width: 20%;
    margin-top: 15px;
    padding-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="textarea"],
input[type="email"],
select {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    /* margin-bottom: 10px; */
    border: 1px solid #dadada;
    color: #888;
    border-radius: 8px;
}

input.area{
    height: 60px;
}

select {
    width: 72%;
    height: 45px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.form hr{
    width: 75%;
    border: .11px solid;
}

.Yorder {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #dadada;
}

table {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    /* padding-right: 75px; */
}

th {
    border-bottom: 1px solid #dadada;
    padding: 20px 0;
}

td {
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 25px;
}

tr>td:nth-child(1) {
    text-align: left;
    padding-left: 50px;
    color: #2d2d2a;
}

tr>td:nth-child(2) {
    text-align: right;
    color: #52ad9c;
    padding-right: 50px;
}


p {
    display: block;
    color: #888;
    margin: 0;
    padding-left: 25px;
}

.Yorder>div {
    padding: 15px 0;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    background: #52ad9c;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background: #428a7d;
}